body {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
}


nav {   
    background-color: rgba(11, 11, 11, 0.595);
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 15px 10px;
    margin: 0px 10px;
    color: white;
    size: 2em;
    display: inline-block;
    transition: background 0.5s ease-out;

    };

nav a:hover {
    color: black;
    background-color: rgb(244, 219, 219);
}

#main {

    margin-left: 5%;
    margin-right: 5%;;
}

button {
    height: 30px;
    width: 80px;
}

p {
    margin-top: 25px;
    font-size: 1.5em;
}